@charset "utf-8";
/* 정보 텍스트 CSS */
#wrap {
    width:600px;
    border: 1px solid red;
}
img {
    width:100%;
}
.work_section .work_list li {
    width:25%;
    float:left;
    position: relative;
}
/* 보내주신부분 여기부터 */
/* a. 셀로판지 효과 */
.work_section .work_list li a:before {
    content:"";
    /* display: block; */
    width:100%;
    height:100%;
    background: #3f51b5;
    opacity:0;
    /* 포지션 */
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    transition:all 1s;
}


.work_section .work_list li a {
    /* 포지션 위치기준값 */
    position: relative;
    /* z-index: 1; */
    display: block;

}
.work_section .work_list li div {
    opacity: 1;
}
.work_section .work_list li div h3 {
    font-size: 24px;
    font-size: 1.5rem;
    color:#fff;
    margin-bottom: 8px;
    position: absolute;
    z-index: 1;
    
}

.work_section .work_list li div span {
    font-size: 11px;
    font-size: 0.6875rem;
    color:#fff;
    position: absolute;
    z-index: 1;
    top:24px;
}

.work_section .work_list li a:hover:before  {
    opacity:1;
    transform: translateX(40px);
}

.work_section .work_list li a:hover div {
    opacity:1;
}